<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunglp.code.mapper.TeacherMapper">


    <select id="getTeacherByMajor" resultType="com.hunglp.code.dto.TeacherDTO">
        SELECT *
        FROM TBLTEACHER T
                 INNER JOIN TBLMAJOR M ON T.MAJOR_ID = M.MAJOR_ID
        WHERE M.MAJOR_NAME = #{majorName}
    </select>

    <select id="getTeacherWithMajorWhoGuideGreaterThanOneStudent" resultType="com.hunglp.code.dto.TeacherDTO">

        SELECT T.teacher_name, M.major_name as majorName FROM TBLTEACHER T
        JOIN TBLMAJOR M ON T.major_id = M.major_id
        WHERE T.teacher_id in (SELECT G.teacher_id FROM TBLGUIDE G GROUP BY G.teacher_id HAVING COUNT(G.student_id) > 1)

    </select>


</mapper>